# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist
!/.storage

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
*.neustorage
*.log
*.db
/.tmp